body {
    margin: 0;
    border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	color: #fff;
}

body:before, body:after {
	content: "";
	position: fixed;
	background: #fff;
	left: 0;
	right: 0;
	height: 10px;
}

body:before {
	top: 0;
}

body:after {
	bottom: 0;
}


.bg {
	height: 100vh;
	background-attachment: fixed;
	background-position: center center;
  	background-size: cover;
}

.one {
	background-image: url(a1.jpg);
}

.two {
	background-image: url(a2.jpg);
}

.three {
	background-image: url(a3.jpg);
}

.four {
	height: 100vh;
	background-image: url(a1.jpg);
}

p {
	margin: 0;
	padding: 20px 10px;
}